*~
*.pyc

venv*
.python-version*

robo_manip_baselines.egg-info

MUJOCO_LOG.TXT

GPATH
GRTAGS
GSYMS
GTAGS

.codex
robo_manip_baselines/logs
robo_manip_baselines/gripper_marker_snapshots
robo_manip_baselines/Log